<mat-card>
  <mat-card-header>
      <mat-card-title>Programación de evaluaciones</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="50px">
        <div div fxLayout="row">
            <mat-form-field class="margear-datepickers">
                <input matInput [matDatepicker]="pickerInicio" [min]="fechaActual" [(ngModel)]="nuevoCalendario.inicioCalendario" placeholder="Fecha de inicio" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="margear-datepickers">
                <input matInput [matDatepicker]="pickerFinalizacion" [min]="nuevoCalendario.inicioCalendario" [(ngModel)]="nuevoCalendario.finCalendario" placeholder="Fecha de finalización" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerFinalizacion"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinalizacion disabled="false"></mat-datepicker>
            </mat-form-field>             
        </div>
        <div div fxLayout="row">
            <mat-form-field>
                <mat-select placeholder="Area" [(ngModel)]="nuevoCalendario.areaCodigo" name="area">
                  <mat-option *ngFor="let area of areas" [value]="area.codigo">
                    {{ area.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Evaluador" [(ngModel)]="nuevoCalendario.usuarioRelacionado" name="evaluador">
                  <mat-option *ngFor="let colaborador of listaColaboradores" [value]="colaborador.id">
                    {{ colaborador.primerNombre }} {{ colaborador.primerApellido }} - {{ colaborador.username }}
                  </mat-option>
                </mat-select>
            </mat-form-field>                          
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
      <button class="boton-amarillo" mat-button *ngIf="!actualizar" (click)="agregarCalendario()">Guardar</button>
      <button class="boton-amarillo" mat-button *ngIf="actualizar" (click)="actualizarCalendario()">Actualizar</button>
      <button class="boton-rojo" mat-button (click)="cancelar()">Cancelar</button>  
  </mat-card-actions>
</mat-card>
<mat-form-field class="aumentar-mat-form-field">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filtrar"
    />
  </mat-form-field>  
<div class="mat-elevation-z8 div-card">
    <table #paginator #sort="matSort" mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="inicioCalendario">
        <th mat-header-cell class="columna-border" *matHeaderCellDef mat-sort-header>Inicio de Programación </th>
        <td mat-cell *matCellDef="let element">{{ element.inicioCalendario | date: 'fullDate' }}</td>
      </ng-container>
      <ng-container matColumnDef="finCalendario">
        <th mat-header-cell class="columna-border" *matHeaderCellDef mat-sort-header>Fin de Programación</th>
        <td mat-cell *matCellDef="let element">{{ element.finCalendario | date: 'fullDate' }}</td>
      </ng-container>
      <ng-container matColumnDef="area">
        <th mat-header-cell class="columna-border" *matHeaderCellDef mat-sort-header>Nombre de Area</th>
        <td mat-cell *matCellDef="let element">{{ element.area.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="usuarioRelacionado">
        <th mat-header-cell class="columna-border" *matHeaderCellDef mat-sort-header>Colaborador Relacionado</th>
        <td mat-cell *matCellDef="let element">{{ element.usuario.primerNombre }} {{ element.usuario.primerApellido }}</td>
      </ng-container>            
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <i class="material-icons editar-azul" (click)="cargarActualizacion(element)">edit</i>
          </button>
          <button mat-icon-button>
            <i class="material-icons eliminar-rojo" (click)="eliminarCalendario(element)" *ngFor=>cancel</i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
  