.usuario-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.usuario-full-width {
    width: 100%;
}
.mb-20 {
    margin-bottom: 20px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
table {
    width: 100%;
}
  