.usuario-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.usuario-full-width {
    width: 100%;
}
.mb-20 {
    margin-bottom: 20px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
table {
    width: 100%;
    border-radius: 15px;
    padding-bottom: 10px;
}
.mat-card-title {
    color: #004380;
    font-size: 30px;
    font-weight: bold;
}
.mat-card {
    border: 3px solid #004380;
    border-radius: 15px;
}
.div-card {
    border: 3px solid #004380;
    border-radius: 15px;
}
.mat-paginator {
    border-radius: 15px;
}
.columna-border {
    border-top-left-radius: 15px;
}
.columna-border-derecha {
    border-top-right-radius: 15px;
}
.boton-rojo {
    background: #ee4238;
    color: #fff;
}
.boton-amarillo {
    background: #fcb922;
    color: #fff;
}
.editar-azul {
    color: #004380;
}
.eliminar-rojo {
    color: #ee4238;
}
.mat-grid-list {
    overflow-y: auto;
}

.semafaro-rojo {
    background: #ee4238; 
}

.semafaro-verde {
    background: green;
}

.semafaro-amarillo {
    background: yellow
}