<mat-card>
  <mat-card-header>
    <mat-card-title>Formularios Bloqueados</mat-card-title>
  </mat-card-header>
  <mat-card-content>
        <mat-accordion *ngIf="seActivo">
            <mat-expansion-panel  style="margin-bottom: 50px;">
                <mat-expansion-panel-header>
                  <mat-panel-title style="color: #004380;">
                    Fotos del Área
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div ngxViewer [viewerOptions]="viewerOptions2">
                    <div *ngFor="let f of dataSourceImagenes.data"> 
                        <img 
                          [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(f.fotoArea)"
                          style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
                          *ngIf="f.fotoArea"
                        />
                        <img *ngIf="f.fotoArea"
                        [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(f.fotoFormulario)"
                        style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
                      />
                    </div>
                    </div>  
                <div>
                    <table mat-table [hidden]="true" [dataSource]="dataSourceImagenes">
                      <ng-container matColumnDef="imagenArea">
                        <th mat-header-cell *matHeaderCellDef> Imagen Modelo </th>
                        <td mat-cell *matCellDef="let element">           
                          <img
                            [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(element.fotoArea)"
                            style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
                            *ngIf="element.fotoArea"
                            ngxViewer
                            [viewerOptions]="viewerOptions"
                          />
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="imagenFormulario">
                        <th mat-header-cell *matHeaderCellDef> Imagen Formulario </th>
                        <td mat-cell *matCellDef="let element">           
                          <img
                            [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(element.fotoFormulario)"
                            style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
                            *ngIf="element.fotoFormulario"
                            ngxViewer
                            [viewerOptions]="viewerOptions"
                          />
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="evaluacionImagenesArea"></tr>
                      <tr mat-row *matRowDef="let row; columns: evaluacionImagenesArea"></tr>      
                    </table>
                  </div>            
                <!--<div fxLayout="row" fxFlex="100%" fxFlex.gt-sm="100%" id="print-section">
                    <div class="mb-10 ml20" fxLayout.lt-md="column" fxFlex fxLayoutGap="50%" style="margin-left: 200px;">
                        <div div fxLayout="row" *ngFor="let f of evaluacion.area.foto">
                            <img
                                [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(f)"
                                style="width: 300px; height: 200px; border: 2px hidden;border-radius: 15px;"
                                ngxViewer
                                [viewerOptions]="viewerOptions"
                                *ngIf="f !== null && f !== ''"
                              />  
                        </div>
                      </div>
                      <div class="mb-10 ml20" fxLayout.lt-md="column" fxFlex fxLayoutGap="50%" style="margin-left: 250px;">
                        <div div fxLayout="row" *ngFor="let f of evaluacion.foto">
                              <img
                                [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(f)"
                                style="width: 300px; height: 200px; border: 2px hidden; border-radius: 15px;"
                                ngxViewer
                                [viewerOptions]="viewerOptions"
                                *ngIf="f !== null && f !== ''"
                              />
                        </div>    
                    </div>
            </div> --->      
            </mat-expansion-panel>
        </mat-accordion>
        <!--<div ngxViewer>
          <img src="https://picsum.photos/2000/1500/?random=1" alt="Image 1">
          <img src="https://picsum.photos/2000/1500/?random=2" alt="Image 2">
          <img src="https://picsum.photos/2000/1500/?random=3" alt="Image 3">
        </div>-->      
        <!--<ngx-image-viewer  [src]="images"></ngx-image-viewer>-->
      <div>
        <table mat-table #tableSortVistaFormularioEvaluado="matSort" [dataSource]="dataSourceEvaluacion" matSort>
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
            <td mat-cell *matCellDef="let element"> {{ element.itemNombre }} </td>
          </ng-container>
          <ng-container matColumnDef="definicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Deficinión </th>
              <td mat-cell *matCellDef="let element"> {{ element.definicion }} </td>
            </ng-container>  
          <ng-container matColumnDef="evaluacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cumple </th>
            <td mat-cell *matCellDef="let element"> {{ (element.evaluacion !== 0) ? 'Si' : 'No'}} </td>
          </ng-container>
          <ng-container matColumnDef="comentario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
            <td mat-cell *matCellDef="let element"> {{ (element.comentario === null || element.comentario === '') ? '' : element.comentario}} </td>
          </ng-container>
          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
            <td mat-cell *matCellDef="let element">
                <div ngxViewer [viewerOptions]="viewerOptions2">
              <img
                [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(element.imagen)"
                style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
                *ngIf="element.imagen"
                ngxViewer
                [viewerOptions]="viewerOptions"
              />
            <img
              [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(element.imagen2)"
              style="width: 100px; height: 70px; border: 2px hidden;border-radius: 15px;"
              *ngIf="element.imagen2"
              ngxViewer
              [viewerOptions]="viewerOptions"
            />
            </div>
            <div *ngIf="rol == 'Administrador' || rol == 'Audior Lider'">

            </div>
            <button *ngIf="element.imagen" mat-button (click)="compressFile(element)">Cargar foto</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="evaluacionVistaColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: evaluacionVistaColumns"></tr>      
        </table>
        <mat-paginator #tablePaginatorVistaFormularioEvaluacion [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>  
      </div>
      <mat-card *ngIf="abrir">
        <mat-card-header>
          <mat-card-title>Panel de Evaluación del administrador</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <section>
                <mat-list *ngFor="let especiales of evaluacion.itemEspeciales">
                  <mat-checkbox class="example-margin" [(ngModel)]="especiales.cumplido">{{especiales.nombre}}</mat-checkbox>
                </mat-list>
            </section>  
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="abrir">
        <mat-card-header>
            <mat-card-title class="mat-card-title-letra-pequenia">Comentarios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field >
              <textarea matInput placeholder="Comentario" [(ngModel)]="nuevoComentario"></textarea>
            </mat-form-field>
            <button mat-button (click)="comentar(evaluacion)">ENVIAR COMENTARIO</button>
        </mat-card-content>
        <mat-card class="example-card" *ngFor="let h of evaluacion.historial">
            <mat-card-header>
              <mat-card-title>{{h.nombreDelPublicador}} {{h.fechaEnvio}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{h.comentario}}
              </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>          
      </mat-card>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button class="boton-amarillo" *ngIf="seActivo" (click)="guardarFormularioBloqueado(evaluacion)">Guardar</button>
      <button class="boton-rojo" mat-button *ngIf="seActivo" (click)="cancelar()">Cancelar</button>
      <button style="background: #2CA552; color: #fff; " mat-button *ngIf="seActivo" [disabled]="listaParaLiberar" (click)="liberarFormularioBloqueado(evaluacion)">liberar formulario</button> 
  </mat-card-actions>
</mat-card>
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filtrar"
  />
</mat-form-field>
<div class="mat-elevation-z8 div-card">
  <table mat-table #tableSortEvaluacionSort="matSort" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="formularioNombre">
        <th class="columna-border" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Formulario </th>
        <td mat-cell *matCellDef="let element">{{ element.formularioNombre }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaCompletaCreacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
        <td mat-cell *matCellDef="let element"> {{ element.fechaCompletaCreacion }}</td>
      </ng-container>
      <ng-container matColumnDef="fechaCompletaGuardado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Envío </th>
        <td mat-cell *matCellDef="let element">{{ element.fechaCompletaGuardado }}</td>
      </ng-container>
      <ng-container matColumnDef="areaNombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Área </th>
        <td mat-cell *matCellDef="let element">{{ element.areaNombre }}</td>
      </ng-container>
      <ng-container matColumnDef="administradorDeArea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado de Área </th>
        <td mat-cell *matCellDef="let element">{{ element.administradorDeArea }}</td>
      </ng-container>
      <ng-container matColumnDef="nombreEvaluador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluador </th>
        <td mat-cell *matCellDef="let element">{{element.nombreEvaluador}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th class="columna-border-derecha" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="cargarFormulario(element)">
              <i class="material-icons">open_in_browser</i>
            </button>
            <button mat-button>
              <i class="material-icons eliminar-rojo" (click)="eliminarFormularioEvaluacion(element)">cancel</i>
            </button>    
        </td>
      </ng-container>  
      <tr mat-header-row *matHeaderRowDef="evaluacionColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: evaluacionColumns"></tr>    
  </table>
  <mat-paginator #tableEvaluacionPaginator (page)="cambiarPagina($event)" [pageSize]="tamPagina" [pageSizeOptions]="tamPaginas"></mat-paginator>
</div>

